/* R2R Ecwid Custom Styles */

/* Custom Product Options Styles */
.r2r-custom-options {
    margin: 15px 0;
}

/* Hide sold out label on home page */
.ins-tile--category-products .ins-tile__product-label--outofstock {
    display: none !important;
}

/* Hide sold out label on product page */
.ins-tile--category-products .ins-tile__product-label--warning {
    display: none !important;
}

/* Add any additional custom styles here */
